[Unit]
Description="Run web-deploy.service Each Hour"

[Timer]
OnCalendar=*:00,10,20,30,40,50:00
Unit=web-deploy.service

[Install]
WantedBy=multi-user.target
